body{
    background: #68cdd5;
}
p{
    margin: 17% 18.6% 0% 18.6%;
    float: none;
    color: aliceblue;
    font-size: 1.3em;
}
.q{

    margin: 20% 40% 0% 40%;
    float: none;
}
.w{
    margin: 20% 18.6% 0% 18.6%;
    float: left;
}
.e{
    margin: 20% 18.6% 0% 18.6%;
    float: right;
}
