body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 62.5%;
    background-color: #34bdde;
}
header{
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 100;
    font-size: 2.5rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #51c7e3;
    background-color: #34bdde;
    color: white;
}
a{
    background:url("4.png") no-repeat;
}
p{
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.origin{
    width: 56px;
    height: 47px;
    position: absolute;
    top: 20px;
    left: 10px;
    bacground-position: 0 0;
}
button{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background:url("4.png") no-repeat;
}
.note{
    width: 44px;
    height: 44px;
    position: absolute;
    top: 20px;
    right: 10px;
    background-position: -61px 0;
}
main{
    margin: 91px 0 0;
}
.mark{
    width: 100%;
    height: 206px;
    display: flex;
    justify-content: center;
    background-color: #34bdde;
}
span{
    background: url("4.png");
}
.mark1{
    width: 360px;
    height: 200px;
    background-position: 0 -50px;
}
.result{
    text-align: center;
    font-size: 4rem;
    position: relative;
    top: 137px;
    color: white;
}
.depict{
    width: calc(100% - 20%);
    height: 340px;
    margin: 0 10%;
}
.total{
    width: 100%;
    height: 108px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
    font-size: 2.5rem;
    color: #f7c774;
}
.item{
    margin-top: 40px;
    font-size: 2rem;
    font-weight: 200;
    color: white;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    width: 33%;
    margin: 0;
    padding: 5px 0;
    float: left;
}
.key{
    margin: 5px 0;
}
.event{
    width: 100%;
    height: 100%;
    background-color: white;
}
.day{
    width: 100%;
    height: 130px;
    border-top: #e1e2e3 solid 1px;
    font-size: 1.5rem;
    color: #c2c3c4;
}
.box1{
    width: calc(100% - 14%);
    height: 40px;
    margin: 7px 0;
    padding: 0 4% 0 10%;
}
.box2{
    width: calc(100% - 14%);
    height: 60px;
    font-weight: 300;
    font-size: 1.7rem;
    padding: 0 4% 0 10%;
    margin: 7px 0;
}
.black{
    font-size: 2.2rem;
    float: left;
    color: black;
}
.small{
    padding-top: 8px;
    float: right;
    font-size: 1.5rem;
}
.box3{
    width: calc(100% - 10%);
    height: 50px;
    margin: 0 5%;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    color: #29bde0;
}
.day1{
    width: 100%;
    height: 50px;
    border-top: #e1e2e3 solid 1px;
}
.blue{
    padding-top: 10px;
    position: absolute;
    right: 10px;
    font-size: 1.8rem;
}

footer{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(52,189,222,0.5);
    color: white;
}
.back{
    width: 45%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f37072;
}
.btn{
    width: 45%;
    height: 70px;
    font-size: 3rem;
    outline: none;
    background-color: #f8b445;
    color: white;
}