html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
header{
    width: 100%;
    height: 40px;
    background-color: white;
}
P{
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item ul{
    padding: 0;
}
.item li{
    list-style-type :none;
}
button{
    outline:none;
}
.white{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: #20b176;
}
.box{
    width: 160px;
    height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mark1{
    width: 30px;
    height: 29px;
    background-image: url(2.png);
    background-position: 0 0;
}
.mark2{
    width: 30px;
    height: 30px;
    background-image: url(2.png);
    background-position: 0 -30px;
}
.mark3{
    width: 30px;
    height: 30px;
    background-image: url(2.png);
    background-position: -34px 0;
}
#menu .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: 0;
    color: white;
}
@media (max-width: 768px){
    .container{
        padding: 0;
        background-color: #29b078;
    }
    .navbar-inverse .navbar-toggle{
        position: absolute;
        top: 55px;
        right: 10px;
        border: 0;
    }
    .navbar-collapse ul{
        width: 100%;
        background-color: #29b078;
    }
    .navbar-collapse li{
        width: 100%;
        height: 80px;
    }
    #menu .nav > li > a {
        padding: 0;
        position: relative;
        top: 75px;
        border-radius: 0;
        color: white;
    }
    #menu .nav-link{
        width: 100%;
        height: 0;
        margin: 0;
        padding: 0;
        font-size: 2rem;
        text-align: center;
        text-decoration:none !important;
        color: white !important;
    }
    .navbar-collapse{
        padding: 0;
        border: 0;
    }
    .container>.navbar-header{
        height: 80px;
        margin: 0;
    }
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
        margin: 0;
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
        border: 0;
        background-color: #36c388;
    }
    .option{
        width: 100%;
        padding: 25px 0;
        position: relative;
        top: -75px;
        text-align: center;
    }
    .option:hover{
        background-color: #36c388;
    }
    #menu .nav-tabs > li > a:hover {
        border: 0;
        background-color: white;
    }
    .me, .scale, .WeChat{
        width: 100%;
    }
    .dwell{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width: 768px){
    .container{
        width: 100%;
        height: 80px;
        background-color: #29b078;
    }
    p{
        word-break:break-all;
        word-wrap:break-word;
    }
    .navbar-collapse li{
        width: 90px;
        height: 80px;
    }
    #menu .nav > li > a {
        padding: 0 15px;
        position: relative;
        top: 75px;
        border-radius: 0;
        color: white;
    }
    #menu .nav-link{
        height: 5px;
        font-size: 2rem;
        text-align: center;
        text-decoration:none !important;
        color: white !important;
    }
    .option {
        width: 90px;
        padding: 25px 0;
        position: relative;
        top: -78px;
        left: -17px;
        text-align: center;
    }
    #menu .nav-tabs{
        border: 0;
    }
    #menu .nav-tabs > li > a:hover {
        border: 0;
        background-color: white;
    }
    .me, .scale{
        width: 40%;
    }
    .WeChat{
        width: 20%;
    }
    .dwell{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 992px){

}
@media(min-width: 1200px){

}
.map{
    width: 100%;
    height: 248px;
    background: url("8_02.png");
    background-size: 100% 100%;
}
.main{
    width: 100%;
    height: 100%;
    padding: 2% 10%;
    background-color: #fafbfa;
 }
.box1{
    margin: 10px 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: #2fb57e;
}
.box2{
    margin: 20px 0;
}
.box1 a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: black;
}
ul#myTab{
    width: 100%;
    padding: 0;
    box-shadow: 0 0 1px #dadada;
    background-color: white;
}
h4{
    height: 50px;
    line-height: 50px;
    margin: 0;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 0 1px #dadada;
    background-color: white;
}
#myTab a{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot{
    width: 10px;
    height:10px;
    margin: 5px;
    border: 1px solid #ff7c2d;
    border-radius: 50%;
}
#myTab.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #ff670d;
    background-color: white;
}
#myTab.nav-pills>li.active>a:focus .dot{
    background-color: #fba36d;
}
#myTab a{
    color: #29b078;
}
#myTab.tab-pane{
    box-shadow: 0 0 1px #dadada;
    color: #adadad;
}
.tab-content{
    height: 100%;
    margin: 20px 0;
    border-radius: 10px;
}
.tab-pane{
    width: 100%;
    height: 100%;
    color: #adadad;
}
.dwell{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    box-shadow: 0 0 1px #dadada;
    background-color: white;
}
.mark4{
    width: 150px;
    height: 130px;
    margin: 0 5px;
    background-image: url(2.png);
    background-position: -356px -245px;
}
.mark6{
    width: 140px;
    height: 130px;
    margin: 0 5px;
    background-image: url(2.png);
    background-position: -175px -400px;
}
.our{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.limit{
    height: 100%;
    margin: 0 5px;
}
.dwell1{
    width: 100%;
    height: 100%;
    padding: 30px 20px 80px;
    display: flex;
    box-shadow: 0 0 1px #dadada;
    flex-direction: column;
    background-color: white;
}
footer{
    width: 100%;
    height: auto;
    background-color: #29b078;
    color: white;
}
.shelf{
    width: 100%;
    height: auto;
    padding: 2% 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.me, .scale{
    height: 120px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.name{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.7rem
}
.parry{
    width: 2px;
    height: 60%;
    margin: 0 10px;
    background-color: white;
}
.details{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
}
.details a{
    color: white;
}
.strip{
    width: 100%;
    height: auto;
}
.strip a{
    color: white;
    padding-right: 10px;
}
.WeChat{
    height: 120px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 1.6rem;
}
.patch{
    width: 100%;
    height: auto
}
.mark25{
    width: 92px;
    height: 92px;
    background-image: url(2.png);
    background-position: -71px -117px;
}
.end{
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid white;
}
