body{
    margin: 0px; padding: 0px;
    background-color: #eaeaea;
}
header{
    background-color: #5ac0ce;
    height: 55px;
    color: white;
    font-size: 1.2rem;
}
p{
    padding:0px; margin:0px;
    font-family: é»‘ä½“;
}
.one{
    position: absolute;
    left: 33px;
    top: 10px;
}
.two{
    position: relative;
    width: 100px;
    margin: 0px auto;
    text-align: center;
    top: 10px;
}
.three{
    position: absolute;
    right: 33px;
    top: 10px;
}
input{
    padding: 1.2rem 0 1.2rem 0;
    font-size:1.1rem;
    margin: 10px 0px 0px;
    width: 100%;
    border: #FFFFFF 0px solid;
    text-align:left;
}
.phone{
    background:url("1_03.png")no-repeat 27px white;
    background-size:50px 38px;
    padding-left: 90px;
}
.cipher{
    background: url("1_06.png")no-repeat 27px white;
    background-size:50px 38px;
    padding-left: 90px;
}
.blue{
    background-color: #5ac0ce;
    color: #ffffff;
    border: none;
    padding: 1.2rem 0 1.2rem 0;
    font-size:1.2rem;
    margin: 10px 0px 0px;
    outline:0 none;
}
a{
    color: #5ac0ce;
    margin-top: 10px;
    float: right;
}

