html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
header{
    width: 100%;
    height: 40px;
    background-color: white;
}
span{
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item ul{
    padding: 0;
}
.item li{
    list-style-type :none;
}
button{
    outline:none;
}
.white{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: #20b176;
}
.box{
    width: 160px;
    height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mark1{
    width: 30px;
    height: 29px;
    background-image: url(3.png);
    background-position: 0 0;
}
.mark2{
    width: 30px;
    height: 30px;
    background-image: url(3.png);
    background-position: 0 -30px;
}
.mark3{
    width: 30px;
    height: 30px;
    background-image: url(3.png);
    background-position: -34px 0;
}
#menu .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: 0;
    color: white;
}
@media (max-width: 768px){

    .container{
        padding: 0;
        background-color: #29b078;
    }
    .navbar-inverse .navbar-toggle{
        position: absolute;
        top: 55px;
        right: 10px;
        border: 0;
    }
    #menu.navbar-collapse ul{
        width: 100%;
        background-color: #29b078;
    }
    #menu.navbar-collapse li{
        width: 100%;
        height: 80px;
    }
    #menu .nav > li > a {
        padding: 0;
        position: relative;
        top: 75px;
        border-radius: 0;
        color: white;
    }
    .nav-link{
        width: 100%;
        height: 0;
        margin: 0;
        padding: 0;
        font-size: 2rem;
        text-align: center;
        text-decoration:none !important;
        color: white !important;
    }
    #menu.navbar-collapse{
        padding: 0;
        border: 0;
    }
    .container>.navbar-header{
        height: 80px;
        margin: 0;
    }
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
        margin: 0;
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
        border: 0;
        background-color: #36c388;
    }
    .option{
        width: 100%;
        padding: 25px 0;
        position: relative;
        top: -75px;
        text-align: center;
    }
    .option:hover{
        background-color: #36c388;
    }
    #menu.nav-tabs > li > a:hover {
        border: 0;
        background-color: white;
    }
    .me, .scale, .WeChat{
        width: 100%;
    }
}
@media(min-width: 768px){
    .container{
        width: 100%;
        height: 80px;
        background-color: #29b078;
    }
    p{
        margin: 0;
        word-break:break-all;
        word-wrap:break-word;
    }
    #menu.navbar-collapse li{
        width: 90px;
        height: 80px;
    }
    #menu .nav > li > a {
        padding: 0 15px;
        position: relative;
        top: 75px;
        border-radius: 0;
        color: white;
    }
    .nav-link{
        height: 5px;
        font-size: 2rem;
        text-align: center;
        text-decoration:none !important;
        color: white !important;
    }
    .option {
        width: 90px;
        padding: 25px 0;
        position: relative;
        top: -78px;
        left: -17px;
        text-align: center;
    }
    #menu .nav-tabs{
        border: 0;
    }
    #menu .nav-tabs > li > a:hover {
        border: 0;
        background-color: white;
    }
    .me, .scale{
        width: 40%;
    }
    .WeChat{
        width: 20%;
    }
}
@media(max-width: 992px){
    .list1{
        padding: 5px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #d8dde0;
    }

}
@media (min-width: 992px){
    .list1{
        padding: 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #d8dde0;
    }
    .grid{
        border-right: 1px solid #d8dde0;
        border-bottom: 1px solid #d8dde0;
     }
}
@media(max-width: 1200px){
    .list3{
        border-top: 1px solid #d8dde0;
    }
    .grid {
        border-bottom: 1px solid #d8dde0;
    }
}
@media(min-width: 1200px){
    .list3{
        border-left: 1px solid #d8dde0;
    }
}
.main{
    width: 100%;
    height: 100%;
    padding: 0 10% 100px;
    background-color: #fafbfa;
}
.box1{
    width: calc(100% - 30px);
    margin: 0 15px;
    padding: 20px 0;
    font-size: 1.8rem;
    font-weight: 500;
    border-bottom: 1px solid #d8dde0;
    color: #2fb57e;
}
.main a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: black;
}
.navbar{
    width: calc(100% - 30px);
    margin: 0 15px;
    padding: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.3rem;
}
.navbar-brand{
    font-size: 1.3rem;
    color: #9d9d9d;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.navbar-default{
    background-color: #fafbfa;
    border-bottom: 1px solid #d8dde0;
}
.navbar-default .navbar-nav>li>a{
    color: black;
}
[class^='imghvr-'],
[class*=' imghvr-'] {
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    background-color: rgba(39,39,39, 0.75);
    -moz-osx-font-smoothing: grayscale;
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
    vertical-align: top;
    max-width: 100%;
}
[class^='imghvr-'] figcaption,
[class*=' imghvr-'] figcaption {
    background-color: inherit;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
[class^='imghvr-'] h3,
[class*=' imghvr-'] h3{
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #fff;
}
[class^='imghvr-'] p,
[class*=' imghvr-'] p {
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 20px 0;
    color: #fff;
}
[class^='imghvr-'] a,
[class*=' imghvr-'] a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.imghvr-slide-up figcaption {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    background-color: inherit;

    opacity: 0;
}
[class^='imghvr-slide-']:hover figcaption,
[class*=' imghvr-slide-']:hover figcaption {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}
.imghvr-slide-up{
    padding: 0;
    border: 1px solid #d8dde0;
    border-radius: 5px;
    box-shadow: 0 0 1px #f1f1f0;
}
.mark4{
    width: 139px;
    height: 139px;
    background-image: url(3.png);
    background-position: -328px -404px;
}
.crib{
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    word-break:break-all;
}
.list1{
    height: 100%;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d8dde0;
    background-color: white;
}
.mark5{
    width: 19px;
    height: 18px;
    margin-left: 5px;
    background-image: url(3.png);
    background-position: -21px -63px;
}
.list2, .list3{
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #aaaaaa;
}

.shelf{
    height: 100%;
    padding: 0;
    border-bottom: 1px solid #d8dde0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.black{
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: black;
}
.red{
    color: red;
}
.shelf1{
    height: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid1{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid2{
    border-bottom: 1px solid #d8dde0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shelf3{
    height: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    color: #a7a7a7;
    background-color: white;
}
.one{
    padding: 10px 15px;
    word-break:break-all;
}
.old, .lump1{
    padding: 0;
}
.shit{
    margin: 10px 0;
}
.col-md-12 h4{
    width: calc(100% - 30px);
}
h4{
    margin: 20px 15px;
    border-bottom: 1px solid #d8dde0;
}
.none{
    padding: 0 0 20px;
}
.focus{
    font-size:1.5rem;
    font-weight: 600;
}
.green{
    padding: 2px;
    background-color: #29b078;
    color: white;
}
footer{
    width: 100%;
    height: auto;
    background-color: #29b078;
    color: white;
}
.she{
    width: 100%;
    height: auto;
    padding: 2% 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.me, .scale{
    height: 120px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.name{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.7rem
}
.parry{
    width: 2px;
    height: 60%;
    margin: 0 10px;
    background-color: white;
}
.details{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
}
.details a{
    color: white;
}
.strip{
    width: 100%;
    height: auto;
}
.strip a{
    color: white;
    padding-right: 10px;
}
.WeChat{
    height: 120px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 1.6rem;
}
.patch{
    width: 100%;
    height: auto
}
.mark25{
    width: 92px;
    height: 92px;
    background-image: url(3.png);
    background-position: -71px -117px;
}
.end{
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid white;
}