body{
    margin-right: 5px;
    background-color: #eff0f1;
    font-family: "Adobe 宋体 Std L";
}
ul{
    width: 100%;
    list-style-type:none;
    padding: 0;
}
.nav{
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: #34bdde;
}
input{
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 1.9rem;
    border: #dddedf solid 1px;
}
button{
    padding: 0;
    border: 0;
    outline: none;
    border-radius: 0;
    background: url("sprite.png") no-repeat;
}
.box1{
    margin: 70px 0 20px 20px;
}
.search{
    position: absolute;
    width: 30px;
    height: 48px;
    top: 87px;
    right: 2%;
    background-position: 0 0;
}
.box2{
    width: calc(100% - 20px);
    border: #dddedf solid 1px;
    margin: 20px 0 0 20px;
    background-color: white;
}
.caption{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 1.9rem;
    color: #f8bd5d;
    border-bottom: #f8bd5d solid 2px;
}
.item{
    width: 100%;
    height: 580px;
    font-size: 2rem;
    color: #8a8b8c;
    display: flex;
    text-align: center;
}
.piece{
    width: 80%;
    height: 110px;
    background-color: #34bdde;
    text-align: center;
    margin: 20px 10%;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
}
.ico{
    width: 30px;
    height: 57px;
    position: absolute;
    top: 220px;
    right: 1%;
    background: url("sprite.png");
    background-position: -32px 0;
}
.carousel-indicators li{
    border: 0;
    background-color: #9d9d9d;
}
.carousel-indicators,
.active{
    background-color: #34bdde;
}