@charset "UTF-8";
html, body {
  height: 100%; }

body {
  min-width: 320px;
  max-width: 768px;
  margin: auto;
  overflow-x: hidden; }
  body p, body ul, body button, body a {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  body button {
    padding: 0;
    outline: none;
    border: 0; }
  body .blue {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #29BDE0; }
  body input[type="checkbox"]:checked ~ label {
    margin-left: 300px; }
  body input[type="checkbox"]:checked ~ .content {
    right: -300px;
    margin-left: 300px;
    box-shadow: -3px -3px 16px 0 #9b9c9d; }
  body input[type="checkbox"] {
    display: none; }
  body label {
    top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 24px;
    background-color: #6dd2e9; }
    body label span {
      width: 30px;
      height: 3px;
      background-color: white; }
  body input[type="checkbox"]:checked ~ nav {
    top: 0;
    display: block; }
  body nav {
    top: 0;
    width: 300px;
    height: 100%; }
    body nav .column {
      display: flex;
      justify-content: flex;
      align-items: center;
      flex-wrap: nowrap;
      height: 50px;
      border-bottom: #eaeaea 1px solid;
      color: #6dd2e9; }
      body nav .column .logo1 {
        width: 24px;
        height: 24px;
        border: #6dd2e9 2px solid;
        background: url("13.png") -290px -110px; }
      body nav .column .logo2 {
        width: 24px;
        height: 24px;
        border: #6dd2e9 2px solid;
        background: url("13.png") -290px -149px; }
      body nav .column .logo3 {
        width: 24px;
        height: 24px;
        border: #6dd2e9 2px solid;
        background: url("13.png") -290px -70px; }
      body nav .column .logo4 {
        width: 24px;
        height: 24px;
        border: #6dd2e9 2px solid;
        background: url("13.png") -52px -242px; }
  body header {
    width: 100%;
    height: 60px;
    background-color: #6dd2e9; }
  body .content {
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: 100vh;
    min-height: 640px;
    background-color: #eff0f1; }
    body .content .box {
      display: flex;
      justify-content: none;
      align-items: center; }
      body .content .box .box-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 30vh;
        background-color: white;
        border-right: #F0F0F0 1px solid;
        writing-mode: vertical-rl; }
      body .content .box .box-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: 30vh;
        background-color: white; }
        body .content .box .box-right .box-right-column1 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 80%;
          border-bottom: #F0F0F0 1px solid; }
        body .content .box .box-right span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          color: #BCBCBC; }
        body .content .box .box-right .pen {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20%;
          color: #29BDE0; }
    body .content .box1 {
      display: flex;
      justify-content: space-around;
      align-items: none;
      flex-direction: column;
      height: 15vh;
      background-color: white; }
      body .content .box1 input {
        width: calc(100% - 40px);
        height: 40px;
        color: #BCBCBC;
        border: 0;
        border-bottom: #F0F0F0 1px solid;
        outline: none; }
    body .content .box2 {
      display: flex;
      justify-content: space-around;
      align-items: none;
      flex-direction: column;
      height: 15vh;
      background-color: white; }
      body .content .box2 .box2-column1 input {
        width: 30px;
        height: 28px;
        text-align: center;
        margin: 0 5px;
        font-size: 24px;
        color: #FAB344;
        background-color: #eff0f1;
        border: 0;
        outline: none; }
      body .content .box2 .box2-column1 input::-webkit-input-placeholder {
        color: #FAB344; }
      body .content .box2 .box2-column1 span {
        color: #FAB344; }
      body .content .box2 .box2-column2 {
        display: flex;
        justify-content: center;
        align-items: center; }
        body .content .box2 .box2-column2 p {
          width: 20px;
          height: 20px;
          color: #fab344;
          border: #BCBCBC 1px solid; }
        body .content .box2 .box2-column2 input[type='range'] {
          outline: none;
          -webkit-appearance: none;
          width: 86% !important;
          background: -webkit-linear-gradient(#00c3d5, #00c3d5) no-repeat, #ffe5bb;
          background-size: 0 100%;
          height: 5px; }
        body .content .box2 .box2-column2 input[type='range']::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 20px;
          width: 36px;
          background: #fff url("image/矩形 24 拷贝 2.png") no-repeat 10px;
          border-radius: 3px;
          border: #fab344 solid 1px; }
    body .content button {
      width: calc(100% - 40px);
      height: 10vh;
      color: white;
      background-color: #fab344; }
    body .content .main1 .searchInput {
      width: calc(100% - 5px); }
    body .content .main1 .submenu {
      color: #949596;
      background-color: white;
      border: #a9a9a9 1px solid; }
      body .content .main1 .submenu .column1 {
        color: #f8b547;
        border-bottom: #f8b547 1px solid; }
      body .content .main1 .submenu .btn {
        width: 70%;
        height: 80px;
        color: white;
        background-color: #6dd2e9; }
      body .content .main1 .submenu ul {
        padding: 0;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center; }
        body .content .main1 .submenu ul .btn1 {
          width: 14px;
          height: 14px;
          margin: 0 3px;
          background-color: #9b9c9d; }
        body .content .main1 .submenu ul .btn1:hover {
          background-color: #6dd2e9; }
      body .content .main1 .submenu .logo5 {
        top: calc(50% - 32px);
        right: 4%;
        width: 21px;
        height: 42px;
        border: #6dd2e9 0 solid;
        background: url("13.png") -293px -10px; }
  body .header2 {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    max-width: 768px;
    color: white;
    background-color: #34beed; }
    body .header2 .btn {
      width: 29px;
      height: 30px;
      border: #6dd2e9 0 solid;
      background: url("13.png") -177px -184px; }
    body .header2 .logo6 {
      width: 27px;
      height: 27px;
      border: #6dd2e9 0 solid;
      background: url("13.png") -226px -184px; }
    body .header2 .logo12 {
      width: 19px;
      height: 31px;
      border: #6dd2e9 0 solid;
      background: url("js2.png") -441px -321px; }
    body .header2 .logo13 {
      width: 35px;
      height: 35px;
      border: #6dd2e9 0 solid;
      background: url("js2.png") -616px -197px; }
  @media (min-height: 992px) {
    body .main2 {
      height: 100vh; } }
  body .main2 {
    background-color: #34beed;
    border: #34beed 1px solid; }
    body .main2 .column1-box {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      color: black;
      background-color: #BAE9F4; }
      body .main2 .column1-box .btn1 {
        right: 10px;
        width: 39px;
        height: 39px;
        border: #6dd2e9 0 solid;
        background: url("13.png") -10px -184px;
        overflow: hidden; }
        body .main2 .column1-box .btn1 audio {
          position: absolute;
          top: -7px;
          left: -7px;
          opacity: 0; }
    body .main2 .white {
      color: white; }
    body .main2 .column {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px; }
      body .main2 .column .box {
        position: relative;
        width: 25%;
        background-color: #f3c881;
        border: white 5px solid; }
        body .main2 .column .box p {
          padding: 30% 0; }
        body .main2 .column .box .order {
          color: white;
          background-color: #82af9b; }
        body .main2 .column .box .affair {
          position: absolute;
          bottom: -50px;
          left: -5px;
          width: calc(100% + 10px); }
        body .main2 .column .box .logo7 {
          width: 23px;
          height: 23px;
          border: #6dd2e9 0 solid;
          background: url("13.png") -139px -243px; }
        body .main2 .column .box .logo8 {
          width: 23px;
          height: 23px;
          border: #6dd2e9 0 solid;
          background: url("13.png") -182px -243px; }
        body .main2 .column .box .logo9 {
          width: 23px;
          height: 23px;
          border: #6dd2e9 0 solid;
          background: url("13.png") -96px -243px; }
        body .main2 .column .box .logo10 {
          width: 23px;
          height: 23px;
          border: #6dd2e9 0 solid;
          background: url("13.png") -10px -243px; }
      body .main2 .column .box:hover .affair {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center; }
  body .footer2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    line-height: 80px;
    background-color: #34beed; }
    body .footer2 .btn {
      width: 90%;
      height: 60px;
      color: white;
      background-color: #f8b445; }
  body .header3 {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    min-width: 300px;
    max-width: 748px;
    height: 60px;
    background-color: #34beed;
    color: white; }
    body .header3 .btn {
      width: 38px;
      height: 32px;
      border: #6dd2e9 0 solid;
      background: url("13.png") -69px -184px; }
    body .header3 .btn1 {
      width: 38px;
      height: 32px;
      border: #6dd2e9 0 solid;
      background: url("13.png") -127px -184px; }
  body .main3 .mark {
    background-color: #34beed;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .main3 .mark .logo11 {
      width: 263px;
      height: 154px;
      border: #6dd2e9 0 solid;
      background: url("13.png") -10px -10px;
      color: white; }
  body .main3 .content1 {
    background-color: #34beed; }
    body .main3 .content1 h2 {
      margin: 0;
      color: #f7c86f; }
    body .main3 .content1 .key {
      color: white; }
      body .main3 .content1 .key ul {
        height: 68px;
        margin: 0;
        padding: 0;
        list-style-type: none; }
      body .main3 .content1 .key li {
        width: 33%; }
  body .main3 .content2 .column {
    color: #bdbdbe;
    border-bottom: #bdbdbe 1px solid; }
    body .main3 .content2 .column .box {
      height: 31px;
      vertical-align: bottom; }
    body .main3 .content2 .column .black {
      color: #5d5e5f; }
  body .main3 .content2 .column1 {
    height: 31px;
    color: #34beed; }
  body .footer3 {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    min-width: 280px;
    max-width: 728px;
    height: 70px;
    background: rgba(52, 189, 222, 0.5); }
    body .footer3 .btn {
      width: 48%;
      color: white;
      background-color: #f37072; }
    body .footer3 .btn1 {
      width: 48%;
      color: white;
      background-color: #f8b445; }

/*# sourceMappingURL=13.css.map */
