body {
  margin: 0; }
  body p {
    margin: 0; }
  body .header1 .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #28b078; }
    body .header1 .column .box {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body .header1 .column .box .logo1 {
        width: 20px;
        height: 19px;
        background: url("14.png") -392px -357px; }
      body .header1 .column .box .logo2 {
        width: 20px;
        height: 19px;
        background: url("14.png") -431px -357px; }
      body .header1 .column .box .logo3 {
        width: 20px;
        height: 19px;
        background: url("14.png") -353px -357px; }
  body .header1 input[type="checkbox"] {
    display: none; }
  @media (max-width: 767px) {
    body .header1 input[type="checkbox"]:checked ~ ul {
      display: block; }
    body .header1 ul {
      position: relative;
      top: 60px;
      display: none;
      width: 100%;
      min-height: 300px;
      background-color: #28b078; }
      body .header1 ul li:hover, body .header1 ul :active {
        background-color: #36c388; } }
  @media (min-width: 768px) {
    body .header1 .column1 {
      float: right;
      width: 240px;
      padding-right: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body .header1 .column1 li:hover, body .header1 .column1 :active {
        border-bottom: white 5px solid; }
    body .header1 label {
      display: none; } }
  body .header1 label {
    position: absolute;
    top: 40px;
    right: 10%;
    width: 40px;
    height: 40px;
    background-color: #47d197; }
    body .header1 label span {
      display: block;
      width: 24px;
      height: 3px;
      background-color: #308863; }
  body .header1 nav {
    min-height: 60px;
    background-color: #28b078; }
    body .header1 nav .logo4 {
      position: absolute;
      top: 37.5px;
      left: 10%;
      width: 120px;
      height: 45px;
      background: url("14.png") -312px -288px; }
    body .header1 nav ul {
      margin: 0;
      padding: 0;
      color: white;
      list-style-type: none; }
      body .header1 nav ul li {
        width: 100%;
        height: 60px;
        box-sizing: border-box; }
        body .header1 nav ul li a {
          text-decoration: none !important;
          color: white !important; }
  body .main1 {
    background-color: #fafafa; }
    body .main1 ul {
      position: relative;
      top: -20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0; }
      body .main1 ul li {
        display: block;
        width: 10px;
        height: 10px;
        background-color: white;
        box-shadow: 0 0 5px 0 #9b9c9d; }
      body .main1 ul li:hover {
        background-color: #1ba36e; }
    body .main1 .viewport {
      /*position: relative;*/
      overflow: hidden; }
      body .main1 .viewport .wrap {
        position: relative;
        width: 300vw;
        overflow: hidden;
        animation: carousel linear 10s infinite 10s normal; }
        body .main1 .viewport .wrap img {
          display: inline-block;
          width: 100vw;
          height: auto;
          float: left; }
@keyframes carousel {
  0% {
    left: 0; }
  20% {
    left: -0vw; }
  40% {
    left: -100vw; }
  60% {
    left: -100vw; }
  80% {
    left: -200vw; }
  100% {
    left: -200vw; } }
      body .main1 .viewport span {
        display: block;
        width: 15px;
        height: 15px; }
      body .main1 .viewport .left-btn {
        position: relative;
        top: -18vw;
        float: left;
        z-index: 1;
        border-top: white 3px solid;
        border-left: white 3px solid;
        transform: rotate(-45deg); }
      body .main1 .viewport .right-btn {
        position: relative;
        top: -18vw;
        float: right;
        z-index: 1;
        border-right: white 3px solid;
        border-bottom: white 3px solid;
        transform: rotate(-45deg); }
    @media (max-width: 767px) {
      body .main1 .box {
        width: 100%; }
      body .main1 .column {
        width: 100%; }
        body .main1 .column .logo8 {
          display: none; } }
    @media (min-width: 768px) and (max-width: 1439px) {
      body .main1 .content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap; }
        body .main1 .content .box {
          width: 50%; }
        body .main1 .content .box:nth-of-type(4) {
          border-left: 1px dashed; }
      body .main1 .column {
        width: 50%; }
        body .main1 .column .logo8:nth-of-type(even) {
          display: none; } }
    @media (min-width: 1440px) {
      body .main1 .content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap; }
        body .main1 .content .box {
          width: 25%; }
        body .main1 .content .box:nth-of-type(4) {
          border-left: 1px dashed; }
      body .main1 .column {
        width: 25%; }
        body .main1 .column .logo8:nth-of-type(3n+3) {
          display: block;
          border: black 1px solid; } }
    body .main1 .content .box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 180px;
      box-sizing: border-box; }
      body .main1 .content .box .logo4 {
        width: 32px;
        height: 47px;
        background: url("14.png") -301px -357px; }
      body .main1 .content .box .logo5 {
        width: 45px;
        height: 36px;
        background: url("14.png") -390px -223px; }
      body .main1 .content .box .logo6 {
        width: 39px;
        height: 41px;
        background: url("14.png") -452px -288px; }
      body .main1 .content .box .green {
        color: #1ba36e; }
        body .main1 .content .box .green .logo7 {
          display: inline-block;
          width: 10px;
          height: 10px;
          background: url("14.png") -10px -458px; }
    body .main1 .content1 {
      display: flex;
      justify-content: center;
      align-items: none;
      flex-wrap: wrap; }
      body .main1 .content1 h4 {
        width: 100%; }
      body .main1 .content1 .column {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body .main1 .content1 .column div {
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          body .main1 .content1 .column div .circle {
            display: inline-block;
            min-width: 45px;
            color: #1ba36e;
            box-shadow: 0 0 5px 0 #9b9c9d; }
        body .main1 .content1 .column .logo8 {
          width: 24px;
          height: 23px;
          background: url("14.png") -455px -223px; }
    body .main1 .container-fluid .col_box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 300px;
      background-color: white;
      box-shadow: 0 0 5px 0 #9b9c9d; }
      body .main1 .container-fluid .col_box .logo9 {
        width: 81px;
        height: 81px;
        background: url("14.png") -10px -357px; }
      body .main1 .container-fluid .col_box .logo10 {
        width: 81px;
        height: 81px;
        background: url("14.png") -111px -357px; }
      body .main1 .container-fluid .col_box .logo11 {
        width: 81px;
        height: 81px;
        background: url("14.png") -390px -122px; }
      body .main1 .container-fluid .col_box .logo12 {
        width: 81px;
        height: 81px;
        background: url("14.png") -285px -162px; }
    body .main1 .container-fluid .column2 {
      background-color: white; }
      body .main1 .container-fluid .column2 .column2_box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px; }
        body .main1 .container-fluid .column2 .column2_box .logo13 {
          width: 159px;
          height: 132px;
          background: url("14.png") -227px -10px; }
        body .main1 .container-fluid .column2 .column2_box .logo14 {
          width: 131px;
          height: 106px;
          background: url("14.png") -26px -162px; }
        body .main1 .container-fluid .column2 .column2_box .logo15 {
          width: 197px;
          height: 149px;
          background: url("14.png") -10px -10px; }
        body .main1 .container-fluid .column2 .column2_box .logo16 {
          width: 131px;
          height: 49px;
          background: url("14.png") -10px -288px; }
        body .main1 .container-fluid .column2 .column2_box .logo17 {
          width: 131px;
          height: 49px;
          background: url("14.png") -161px -288px; }
      body .main1 .container-fluid .column2 .column2_box:hover {
        box-shadow: 0 0 5px 0 #9b9c9d; }
  body .footer1 {
    background-color: #28b078; }
    @media (max-width: 992px) {
      body .footer1 .friendlink_box:nth-of-type(2) {
        display: flex;
        justify-content: none;
        align-items: flex-end;
        flex-direction: column; } }
    @media (min-width: 992px) {
      body .footer1 .friendlink_box {
        display: flex;
        justify-content: space-between;
        align-items: center; }
      body .footer1 .column {
        display: flex;
        justify-content: space-between;
        align-items: none; }
        body .footer1 .column .column_box:nth-of-type(3) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column; } }
    body .footer1 .friendlink {
      background-color: white; }
      body .footer1 .friendlink ul {
        width: 50px;
        margin: 0; }
        body .footer1 .friendlink ul li:hover {
          border-bottom: #28b078 2px solid; }
    body .footer1 .column {
      color: white; }
      body .footer1 .column .column_box {
        display: flex;
        justify-content: space-between;
        align-items: none;
        flex-direction: column;
        height: 120px; }
        body .footer1 .column .column_box .logo18 {
          display: block;
          width: 69px;
          height: 69px;
          background: url("14.png") -212px -357px; }
        body .footer1 .column .column_box .note a:nth-of-type(1), body .footer1 .column .column_box .note a:nth-of-type(2) {
          border-right: white 2px solid; }
        body .footer1 .column .column_box a:hover {
          border-bottom: white 1px solid; }
  body .copyright {
    color: white;
    background-color: #28b078;
    border-top: white 1px solid; }

/*# sourceMappingURL=14.css.map */
