.main1{
  background-color: #fafafa;
  ul{
    position: relative;
    top: -20px;
    @include flex(center);
    width: 100%;
    margin: 0;
    padding: 0;
    li{
      display: block;
      width: 10px;
      height: 10px;
      background-color: white;
      box-shadow: 0 0 5px 0 #9b9c9d;
    }
    li:hover{
      background-color: #1ba36e;
    }
  }
  //轮播图
  .viewport {
    /*position: relative;*/
    overflow: hidden;
    .wrap {
      position: relative;
      width: 300vw;
      overflow: hidden;
      animation: carousel linear 10s infinite 10s normal;
      img {
        display: inline-block;
        width: 100vw;
        height: auto;
        float: left;
      }
      @keyframes carousel {
        0% {
          left: 0;
        }
        20% {
          left: -0vw;
        }
        40% {
          left: -100vw;
        }
        60% {
          left: -100vw;
        }
        80% {
          left: -200vw;
        }
        100% {
          left: -200vw;
        }
      }
    }
    span{
      display: block;
      width: 15px;
      height: 15px;
    }
    .left-btn{
      position: relative;
      top: -18vw;
      float: left;
      z-index: 1;
      border-top: white 3px solid;
      border-left: white 3px solid;
      transform: rotate(-45deg);
    }
    .right-btn{
      position: relative;
      top: -18vw;
      float: right;
      z-index: 1;
      border-right: white 3px solid;
      border-bottom: white 3px solid;
      transform: rotate(-45deg);
    }
  }
  @media (min-width:768px){
    .box:nth-of-type(4){
        border-left: 1px dashed;
    }
  }
  @media (min-width:1440px){
    .column2_box{
      width: 20%;
    }
  }
  .container-fluid{
    .box{
      @include flex(center);
      flex-direction: column;
      height: 180px;
      box-sizing: border-box;
      .logo4{
        @include circle(32px,47px,-301px -357px);
      }
      .logo5{
        @include circle(45px,36px,-390px -223px);
      }
      .logo6{
        @include circle(39px,41px,-452px -288px);
      }
      .green{
        color: #1ba36e;
        .logo7{
          display: inline-block;
          @include circle(10px,10px,-10px -458px);
        }
      }
    }
    h4{
      width: 100%;
    }
    .column{
      @include flex(space-between);
      div{
        @include flex(flex-start);
        .circle{
          min-width: 45px;
          color: #1ba36e;
          box-shadow: 0 0 5px 0 #9b9c9d;
        }
      }
      .logo8{
        min-width: 24px;
        @include circle(0,23px,-455px -223px);
      }
    }
    .col_box{
      @include flex(center);
      flex-direction: column;
      height: 300px;
      background-color: white;
      box-shadow: 0 0 5px 0 #9b9c9d;
      .logo9{
        @include circle(81px,81px,-10px -357px);
      }
      .logo10{
        @include circle(81px,81px,-111px -357px);
      }
      .logo11{
        @include circle(81px,81px,-390px -122px);
      }
      .logo12{
        @include circle(81px,81px,-285px -162px);
      }
    }
    .column2{
      background-color: white;
      .column2_box{
        @include flex(center);
        height: 200px;
        .logo13{
          @include circle(159px,132px,-227px -10px);
        }
        .logo14{
          @include circle(131px,106px,-26px -162px);
        }
        .logo15{
          @include circle(197px,149px, -10px -10px);
        }
        .logo16{
          @include circle(131px,49px,-10px -288px);
        }
        .logo17{
          @include circle(131px,49px,-161px -288px);
        }
      }
      .column2_box:hover{
        box-shadow: 0 0 5px 0 #9b9c9d;
      }
    }
  }
}