.main1{
  background-color: #fafafa;
  @import "module.scss";
  @media (min-width:768px){
    .box:nth-of-type(4){
        border-left: 1px dashed;
    }
  }
  @media (min-width:1440px){
    .column2_box{
      width: 20%;
    }
  }
  .container-fluid{
    .box{
      @include flex(center);
      flex-direction: column;
      height: 180px;
      box-sizing: border-box;
      .logo4{
        @include circle(32px,47px,-301px -357px);
      }
      .logo5{
        @include circle(45px,36px,-390px -223px);
      }
      .logo6{
        @include circle(39px,41px,-452px -288px);
      }
      .green{
        color: #1ba36e;
        .logo7{
          display: inline-block;
          @include circle(10px,10px,-10px -458px);
        }
      }
    }
    h4{
      width: 100%;
    }
    .column{
      @include flex(space-between);
      div{
        @include flex(flex-start);
        .circle{
          min-width: 45px;
          color: #1ba36e;
          box-shadow: 0 0 5px 0 #9b9c9d;
        }
      }
      .logo8{
        @include circle1(24px,23px,-455px -223px);
      }
    }
    .img{
      width: 100vw;
    }
    .col_box{
      @include flex(center);
      flex-direction: column;
      height: 300px;
      background-color: white;
      box-shadow: 0 0 5px 0 #9b9c9d;
      .logo9{
        @include circle(81px,81px,-10px -357px);
      }
      .logo10{
        @include circle(81px,81px,-111px -357px);
      }
      .logo11{
        @include circle(81px,81px,-390px -122px);
      }
      .logo12{
        @include circle(81px,81px,-285px -162px);
      }
    }
    .column2{
      background-color: white;
      .column2_box{
        @include flex(center);
        height: 200px;
        .logo13{
          @include circle(159px,132px,-227px -10px);
        }
        .logo14{
          @include circle(131px,106px,-26px -162px);
        }
        .logo15{
          @include circle(197px,149px, -10px -10px);
        }
        .logo16{
          @include circle(131px,49px,-10px -288px);
        }
        .logo17{
          @include circle(131px,49px,-161px -288px);
        }
      }
      .column2_box:hover{
        box-shadow: 0 0 5px 0 #9b9c9d;
      }
    }
  }
}
.main2{
  background-color: #fafafa;
  .column{
    color: #1ba36e;
    border-bottom: #dedede $border;
    a{
      color: black;
    }
  }
  .container-fluid{
    h4{
      margin: 0;
      border-bottom: #dedede $border;
    }
    .text{
      color: #6b6b6b;
    }
    a:hover, a:visited, a:link, a:active{
      text-decoration: none;
      color: #6b6b6b;
    }
    .text:hover{
      color: white;
      background-color: #1ba36e;
    }
    .column2_box{
      table{
        table-layout: fixed;
      }
      tr{
        word-wrap: break-word;
      }
      td, th{
        padding: 0;
      }
      .bill{
        background-color: white;
        box-shadow: 0 0 5px 0 #9b9c9d;
        .line{
          @include flex(flex-start);
          width: 100%;
          border-bottom: #dedede 1px solid;
          .logo19{
            display: block;
            @include circle1(104px,104px,-161px -162px);
          }
          .cut{
            @include flex(flex-start);
            padding: 10px;
            width: 50%;
            p{
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .logo20{
              @include circle(12px,11px,-470px -357px);
            }
            .hue{
              color: red;
            }
          }
          .cut:nth-of-type(2){
            border-left: #dedede $border;
          }
        }
        .line1{
          width: 100%;
          .cut1{
            width: 40%;
            border-right: #dedede $border;
            border-bottom: #dedede $border;
          }
          .cut2{
            width: 60%;
            padding: 10px;
            border-bottom: #dedede $border;
          }
        }
        .transform {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: none;
          background-color: rgba(0, 0, 0, 0.82);
          transition:width 2s, height 2s;
          -moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
          -webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
          -o-transition:width 2s, height 2s, -o-transform 2s;
          .white {
            @include flex(center);
            flex-direction: column;
            width: 80%;
            height: 100%;
            color: white;
          }
        }
        .transform:hover {
          transform:rotate(360deg);
          -moz-transform:rotate(360deg); /* Firefox 4 */
          -webkit-transform:rotate(360deg); /* Safari and Chrome */
          -o-transform:rotate(360deg); /* Opera */
        }
      }
      .bill:hover .transform{
        display: block;
      }
    }
  }
}
.main3{
  background-color: #fafafa;
  @media (max-width:768px){
    .right_box{
      @include flex(space-between,none);
      flex-direction: column;
    }
  }
  img{
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  .column{
    color: #1ba36e;
    a{
      color: black;
    }
  }
  .container-fluid{
    .main-left{
      background-color: white;
      box-shadow: 0 0 5px 0 #9b9c9d;
      h4{
        margin: 0;
        border-bottom: #dedede $border;
      }
      .sidebar{
        color: #26a26f;
        span{
          display: inline-block;
          width: 8px;
          height: 8px;
          border: #f3aa4b $border;
        }
        p:hover{
          color:  #f3aa4b;
        }
        p:hover span{
          background-color: #f9cf99;
        }
      }
    }
    .main-right{
      color: #afafaf;
      background-color: white;
      box-shadow: 0 0 5px 0 #9b9c9d;
      .right_box{
        @include flex(flex-start);
        border-bottom: #dedede $border;
        .logo21{
          @include circle1(101px,92px,-390px -10px);
        }
      }
    }
  }
}