body{
  margin: 0;
  p{
    margin: 0;
  }
  button{
    outline: none;
  }
  $pixel: 10px;
  $border: 1px solid;
  @mixin one(){
    display: flex;
    align-items: center;
  }
  @mixin three (){
    justify-content: center;
    width: 48%;
    height: $pixel*4;
    border: #5fc0ce $border;
    border-radius: $pixel*0.5;
  }
  header{
    position: fixed;
    top: 0;
    width: 100%;
    font-size: $pixel*2;
    line-height: $pixel*5;
    text-align: center;
    color: white;
    background-color: #5fc0ce;
    a{
      position: absolute;
      top: $pixel*2;
      left: $pixel;
      width: $pixel;
      height: $pixel;
      border-bottom: $border white;
      border-left: $border white;
      transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
  }
  main{
    margin: $pixel*5 0;
    .box{
      display: flex;
      align-items: center;
      height: $pixel*20;
      font-size: $pixel*2;
      color: white;
      background: url("12 (3).png") no-repeat;
      background-size: 100% 100%;
      .logo1{
        width: $pixel*8.5;
        height: $pixel*8.5;
        margin-left: $pixel*2;
        border-radius: 50%;
        background: url('12.png') -23px -10px;
      }
      .logo1:hover{
        width: $pixel*13.1;
        height: $pixel*15.8;
        margin-left: -$pixel;
        border-radius: 0;
        background: url('12.png') 0 -10px;
      }
      div{
        padding: 0 $pixel*2;
        .shelf{
          font-size: $pixel*1.5;
          padding: $pixel*0.7 0;
          vertical-align: middle;
          .logo2{
            display: inline-block;
            width: $pixel*0.9;
            height: $pixel*1.2;
            margin-right: $pixel*0.4;
            background: url('12.png') -10px -188px;
          }
        }
      }
    }
    .content{
      @include one();
      flex-wrap: wrap;
      min-height: $pixel*5;
      padding-left: $pixel;
      border-bottom: #eeeff0 $border;
      .plank{
        top: 40px;
        display: inline-block;
        min-width: 3px;
        height: $pixel*1.7;
        margin-right: $pixel;
        border-radius: $pixel*5;
        background-color: #5dc1cd;
      }
      .column{
        @include one();
        flex-wrap: nowrap;
        width: calc(100% - 20px);
        min-height: $pixel*5;
        padding: 5px 10px;
        border-bottom: #eeeff0 $border;
        .logo3{
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-right: 5px;
          background: url('12.png') -161px -138px;
        }
        .dot1{
          min-width: 64px;
          color: #aaabae;
        }
        .dot2{
          color: #e2686a;
        }
        .wire{
          min-width: 2px;
          height: $pixel*1.5;
          margin: 0 $pixel;
          background-color: #eef2f2;
        }
      }
    }
  }
  footer{
    position: absolute;
    bottom: 0;
    @include one();
    justify-content: space-around;
    width: 100%;
    height: $pixel*5;
    color: white;
    background-color: white;
    border: 0;
    .btn1{
      @include one();
      @include three();
      color: #5fc0ce;
      background-color: white;
    }
    .btn2{
      @include one();
      @include three();
      color: white;
      background-color: #5fc0ce;
    }
  }
}